@media only screen and (min-width: 900px) {
   
.lol{
	display: none;
}

.Nav{

	display: flex;
	flex-direction: row;
    background-color: #808080;
	border: solid; 
    height: 12vh;
    width: 70%;
}

.no-dec{
    font-size: 1rem;
	text-decoration: none;
	padding-right: 3vw;
	padding-left: 1vw;
	padding-top: 2vh;
	color: black;
   
}

.nav-search{
    
	padding-top: 2vh;
}

.nav-disabled{

	color: #9d9b94;
}


.navbar-brand{
	font-size: 1.25rem;
}

.sub-butt{
  color: green;
  height: 4vh;
}

.dropdown-menu{
position: absolute;
text-align: center;
top: 10vh;
left: 25vw;
background-color: white;
height: 100px;
width: 180px;
border: solid;
z-index: 2;
padding:0;
}

.dropdown-divider{
 height: 1px;
 content: '\a0';
width: 100%;

}


.dropdown-item{

	font-size: 1rem;
	text-decoration: none;
	padding-left: .5vw;
	color: red;
	padding-top: 2vh;
	padding-bottom: 10vh;
	color: black;
}

}


@media only screen and (max-width: 900px) {

.disp{
	display: none;
}

.Nav{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
    background-color: #808080;
    padding-bottom: 0;
    height: 12vh;
    width: 70vw;
}

.lol {
  font-size:  0.8rem;
  color: red;
  width: 8px;
  cursor: pointer;
  height: 8vh;
  background-color: #808080;
  margin-right: 2vw;
  float: right;
  border-radius: 100%;
  }


.navbar-brand{
font-size: 2.5rem !important;
margin-top: 7px;

}

.no-dec{
    font-size: 1rem;
	text-decoration: none;
	padding-right: 3vw;
	padding-left: 1vw;
	padding-top: 2vh;
	color: black;
 }

.nav-search{
	padding-top: 2vh;
}

.nav-disabled{
	color: #9d9b94;
}


.navbar-brand{
	font-size: 1.25rem;
}

.sub-butt{
  color: green;
  height: 4vh;
}

/*.dropdown-menu{
position: absolute;
text-align: center;
top: 10vh;
left: 25vw;
z-index: 2;
background-color: white;
}
*/
.dropdown-divider{
 height: 1px;
 content: '\a0';
width: 100%;

}


.dropdown-item{
	font-size: 1rem;
	text-decoration: none;
	padding-left: .5vw;
	color: red;
	padding-top: 2vh;
	padding-bottom: 10vh;
	color: black;
}

}



.onclickNav{

	display: flex;
	flex-direction: column;
    background-color: #808080;
    height: 100%;
    width: 70vw;
}






	